.shop {
    height: 880px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    background-color: rgba(2, 80, 72);
}

.shopCart {
    width: 22%;
    height: 350px;
    text-align: center;
    background-color: white;
    color: rgb(2, 80, 72);
    border-radius:15px;
    overflow: hidden;

}

.shopCart img {
    width: 250px;
    height: 250px;
}



.button {
    padding: 10px 30px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background-color:rgb(2, 80, 72);
    color: #FFFFFF;
    transition: all 0.5s;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}